//@import "materialize/components/color";
//$primary-color: color("cyan", "lighten-2") !default;
@import 'materialize';

span.error {
  color: #c00;
}

body {
  overflow-x: hidden;
  .header {
    margin-left: 300px;
    .nav-wrapper {
      margin-left: -300px;
    }
  }
  .container, footer {
    margin-left: 350px;
  }
}



@media only screen and (max-width: 992px) {
  .header, .container, footer {
    margin-left: 0;
  }
}