//@import "materialize/components/color";
//$primary-color: color("cyan", "lighten-2") !default;
@import 'materialize';

//Hook when select-wrapper behind label doesn't work
label + .select-wrapper {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}

span.error {
  color: #c00;
}